<p id="notice"><%= notice %></p>
<%= render 'options' %>
<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title |</th>
      <th>Description |</th>
      <th>Price |</th>
      <th>Image</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= image_tag listing.picture, :style => 'max-width: 450px; max-height: 170px;' if listing.picture.attached? %></td>
        <td><%= link_to 'Show', listing, {:style=>'color: white;'} %></td>
        <% if current_user.id == listing.user_id %>
        <td><%= link_to 'Edit', edit_listing_path(listing), {:style=>'color: white;'} %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path, {:style=>'color: white;'} %>
